/* reset & box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* menghilangkan bullet point di ul */
ul {
    list-style: none;
}

:root {
    /* Palet Warna*/
    --primary-color:        #008080; /* Primer */
    --secondary-color:      #7FE7DC; /* Sekunder */
    --secondary-color2:     #FF6F61; /* Aksen*/
    --bg-color:             #F5F7F7; /* Background */
    --charcoal:             #1A2328; /* Muted Text */
    --cool-gray:            #94A3B8; /* main-text */

    /* Spasi dan radius */
    --radius-lg: 16px;
    --radius-sm: 8px;
    --gap: 1rem;

    /* Type scale */
    --font-heading: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    --font-body: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* link */
a {
    text-decoration: none;
    color: inherit;
}

/* global layout setup*/
html {
    /* Scroll smooth jika ada link anchor (misal: #Tentang) */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    background: var(--bg-color);
    color: var(--charcoal);

    /* Lebih aman min-height: 100vh daripada height 100%*/
    min-height: 100vh;

    line-height: 1.5; /* biar keliatan lega */
    font-size: 1rem; /* default font size dan mengikuti setting browser user */

    -webkit-font-smoothing: antialiased; /* buat font lebih enak diliat di MacOS */
    -moz-osx-font-smoothings: grayscale; /* tujuan sama kaya di atas */
}

/* Media safety net*/
img, picture, video, canvas, svg {
    display: block; /* buang inline spacing */
    max-width: 100%; /* biar ga meluber keluar container */
}

/* INPUT & BUTTON FONT FIX */
/* Input & button seringkali tidak mewarisi font body secara default */
input, button, textarea, select {
    font: inherit;
}

.error-box {
    background-color: var(--secondary-color2);
    width: 100%;
    box-sizing: border-box;
    color: var(--bg-color);
    border: 1px solid #ffcccc;
    padding: 12px;
    border-radius: var(--radius-sm);
    margin-bottom: var(--gap);
    font-size: 0.9rem;
    text-align: left;
    margin-top: 12px;
}

.error-box ul {
    padding-left: 20px;
    list-style-type: disc;
}

.error-box li {
    margin-bottom: 4px;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side, .right-side{
    /* bagian-kiri */
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 40px;
}

.right-side {
    background: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.right-content {
    color: var(--charchoal);
    text-align: center;
}

.left-side, .left-content {
    /* latar-belakang */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80px;
    margin-bottom: 1rem;
}
